.multiValueRow {
  padding-top: 10px !important;
}

.multivalueRowRemoveButton {
  display: inline-block;
  vertical-align: top;
  padding-top: 27px;
  margin-right: 20px;
}

.inlineInputs > div {
  display: inline-block;
  margin-right: 10px;
}

.multivalueAddSelector {
  display: inline-block;
  width: 60%;
}

.multivalueEmptyText {
  margin: 10px 0;
  padding: 30px;
  background-color: #dddddd;
  border: solid 1px #aaaaaa;
}
